@inherits LayoutComponentBase

<PageTitle>eShopOpgave.BlazorUI</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="/Cart/ShoppingCart" target="_blank" class="oi oi-cart" >Cart</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
