@page
@model eShop.WebApp.Pages.eShopPages.Products.GamesModel
@{
}
<section class="text-center">
    <div class="">
            <img src="~/Images/Wall.jpg" height="400" width="100%" aria-hidden="true" focusable="false" />
            <p class="lead text-muted">Something short and leading about the collection below—its contents</p>
        </div>
</section>
<body>
    <main class="row gx-2 gy-3 ms-1">
        @foreach (var item in Model.Games)
        {
            <div class="d-inline-flex col-3 ">
                <div class="card shadow-sm border-dark ">
                    <img src="@item.ImgPath" class="border-dark" width="300" height="300">
                    <div class="card-body border-dark">
                        <div>
                            <p class="card-title">@item.Title</p>
                            <small class="float-end">@item.Price.-</small>
                        </div>
                        <p class="card-text text-truncate" style="max-width: 250px;">@item.Description</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group ms-4">
                                <button type="button" class="btn btn-sm btn-outline-success">Add Cart</button>
                                <button type="button" class="btn btn-sm btn-outline-dark ms-4">See more</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </main>

    @*<script src="../assets/dist/js/bootstrap.bundle.min.js"></script>*@
</body>